<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        
      </section>
      <section>
       
      </section>
      <section>
        
      </section>
    </aside>
    <div class="span8">
      
      
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>LOTH Builder</h1>



    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

 
<% end %>
